{% extends 'base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="top-content">
        {% if user.is_authenticated %}
            <h1 class="welcome-message">Welcome to SecuPass, {{ user.username }}</h1>
        {% else %}
            <h1 class="welcome-message">Welcome to SecuPass</h1>
        {% endif %}
        <p>Your safety, our priority.</p>
    </div>

    <!-- Centered Apply Button -->
    <div class="apply-container">
        <a href="{% url 'apply' %}" class="btn btn-primary btn-lg shadow apply-btn">
            Apply Now
        </a>
    </div>
{% endblock %}
